<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
	<title>Account Management</title>
<!--
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
-->
	<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<style>
		body {
			padding-top: 80px;
			word-wrap: break-word;
		}
	</style>

</head>

<body>
<div class="container">

	<div class="page-header text-center">
		<%//var account = JSON.parse(acc);%>
		<h1><span class="fa fa-anchor"></span> Account Page</h1>
		<a href="/profile" class="btn btn-default btn-sm">Go back to profile</a>
		<a href="/" class="btn btn-default btn-sm">Go home</a>
	</div>
	<div class="well">
		<h3><span class="fa fa-user"></span> Account Info:</h3>
		<p>
			<strong>Currency</strong>:
			<%=acc.money_type %>;
			<strong>Status</strong>:
			<%=acc.status %>;
			<strong>Balance</strong>:
			<%=acc.balance %>


	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Deposit money</h3>
				<form action="/account/<%=acc.account_ID%>/deposit" method="post" class="deposit-form" >
					<div class="form-group">
						<label>Money amount:</label>
						<input type="number" class="form-control" name="amount" step = "10" required>
						<label><%=acc.money_type%></label>
					</div>
					<button type="submit" class="btn submit-deposit">Submit</button>
				</form>
				<p>
					<% if (depositMessage.length>0) { %>
				<div class="alert alert-info"><%= depositMessage %></div>
				<% } %>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Cash money</h3>
				<form action="/account/<%=acc.account_ID%>/cash" method="post" class="cash-form">
					<div class="form-group">
						<label>Money amount:</label>
						<input type="number" class="form-control" name="amount" step = "10" required>
						<label><%=acc.money_type%></label>
					</div>
					<button type="submit" class="btn submit-cash">Submit</button>
				</form>
				<p>
					<% if (cashMessage.length>0) { %>
				<div class="alert alert-info"><%= cashMessage %></div>
				<% } %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Change account currency </h3>
				<form action="/account/<%=acc.account_ID%>/currency" method="post" class="currency-form" >
					<div class="form-group">
						<label>Select currency:</label>
						<select name="curr">
							<option value="rub">Ruble</option>
							<option value="eu">Euro</option>
							<option value="usd">USD</option>
						</select>
					</div>
					<button type="submit" class="btn submit-currency">Submit</button>
				</form>
				<p>
					<% if (currMessage.length > 0) { %>
				<div class="alert alert-info"><%= currMessage %></div>
				<% } %>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Transfer money</h3>
				<form action="/account/<%=acc.account_ID%>/transfer" method="post" class="cash-form">
					<div class="form-group">
						<label>Money amount(<%=acc.money_type%>)</label>
						<input type="number" class="form-control" name="amount" step = "10" required>
						<label>(Note: money will be transfered in recipient's currency)</label>
						<br>
						<label>Account ID:</label>
						<input type="number" class="form-control" name="recipient_ID" required>
					</div>
					<button type="submit" class="btn submit-transfer">Submit</button>
				</form>
				<% if (transferMessage.length > 0) { %>
				<div class="alert alert-info"><%= transferMessage %></div>
				<% } %>
				<p>
			</div>
		</div>
	</div>
</div>
</body>

</html>
