<!doctype html>
<html>

<head>
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
	<![endif]-->
	<title>Nya Bank</title>

<!--	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
	<!-- load fontawesome -->
	<link href="/css/normalize.min.css" rel="stylesheet" type="text/css">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<!-- load our styles -->

</head>

<body>
<!--
	<header>
		<h1><a href="/"><span class="accend">Nya</span> Bank</a></h1>
	<% if (!user) { %>
		<a href="/login" class="btn btn-accend">Login</a>
		<a href="/signup" class="btn">Signup</a>
	<% } %>
	</header>

	<div class="promo-back">
		<div class="promo">
				<h1>Ми-ми-ми и Няяяяяяяя</h1>
				<p><a href="/" class="btn heart">Присоединиться</a></p>
		</div>
	</div>

	<div class="feature1">
		<h2>Деньги в любом направлении</h2>
		<p>Отправляйте деньги по всему миру. Для этого достаточно знать лишь электронный адрес получателя. Об остальном позаботимся мы. </p>
	</div>
	<div class="feature2">
		<h2>Деньги в любом направлении</h2>
		<p>Отправляйте деньги по всему миру. Для этого достаточно знать лишь электронный адрес получателя. Об остальном позаботимся мы. </p>
	</div>

	<div class="feature3">
		<h2>Деньги в любом направлении</h2>
		<p>Отправляйте деньги по всему миру. Для этого достаточно знать лишь электронный адрес получателя. Об остальном позаботимся мы. </p>
	</div>

	<div class="landing">
		<h2>Деньги в любом направлении</h2>
		<p>Отправляйте деньги по всему миру. Для этого достаточно знать лишь электронный адрес получателя. Об остальном позаботимся мы. </p>
	</div>

	<footer></footer>
-->

	<div class="parallax">
		<div id="group1" class="parallax__group">
			<header class="parallax__layer parallax__layer--base">
				<h1><a href="/"><span class="accend">Nya</span> Bank</a></h1>
				<% if (!user) { %>
<!--				<a href="/login" class="btn btn-accend">Login</a>-->



				<!-- LOGIN FORM -->
				<form action="/login" method="post">
<!--					<div class="form-group">-->
						<label>Login</label>
						<input type="text" class="form-control" name="login">
<!--					</div>-->
<!--					<div class="form-group">-->
						<label>Password</label>
						<input type="password" class="form-control" name="password">
<!--					</div>-->
					<button type="submit" class="btn btn-accend">Login</button>
				</form>
				<a href="/signup" class="btn">Signup</a>

				<% } %>

			</header>
		</div>

		<div id="group2" class="parallax__group">
			<div class="parallax__layer parallax__layer--base">
				<h1>We spend all your money!</h1>
				<p><a href="/signup" class="btn heart">Join Us</a></p>
			</div>
			<div class="parallax__layer parallax__layer--back">
			</div>
		</div>
		<div id="group3" class="parallax__group">
			<div class="parallax__layer parallax__layer--base">
				<div class="contentPara">
					<h2>Make sending as easy as spending.</h2>
					<p>Send money to almost anyone with an email or mobile number quickly. You can send all around the world and they’ll be delighted to get your message.</p>
				</div>
			</div>
		</div>
		<div id="group4" class="parallax__group">
			<div class="parallax__layer parallax__layer--base">
				<div class="contentPara2">
					<h2>Make a simple request.</h2>
					<p>Requesting money is a friendly reminder for a favor or job well done. They’ll get an invitation to pay any way they like without having to think about it.</p>
					<p>Order ahead and be ready to go before you walk in the door. Pay the check before the server can bring it to you. No lines, no signing. Just a simple, secure way to pay when you're out in the world.</p>
				</div>
			</div>
<!-- 			<div class="parallax__layer parallax__layer--back">
			</div> -->
		</div>
		<div id="group5" class="parallax__group">
			<div class="parallax__layer parallax__layer--base">
				<h2>Money matters.</h2>
				<p><a href="/signup" class="btn heart">Join Us</a></p>
			</div>
		</div>
		<div id="group6" class="parallax__group">
			<div class="parallax__layer parallax__layer--base">
				<div class="title">Footer</div>
			</div>
		</div>
	</div>

	<% if (user) { %>
		<div class="jumbotron text-center">You are logged in as
			<%=user.login %>
		</div>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		<% } %>

</body>

</html>
