<!doctype html>
<html>
<head>
	<title>Node Authentication</title>

	<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<style>
		body        { padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="col-sm-6 col-sm-offset-3">

		<h1><span class="fa fa-sign-in"></span> Login</h1>

		<!-- show any messages that come back with authentication -->
		<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
		<% } %>

		<!-- LOGIN FORM -->
		<form action="/login" method="post">
			<div class="form-group">
				<label>Login</label>
				<input type="text" class="form-control" name="login">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password">
			</div>

			<button type="submit" class="btn btn-warning btn-lg">Login</button>
		</form>

		<hr>

		<p>Need an account? <a href="/signup">Signup</a></p>
		<p>Or go <a href="/">home</a>.</p>

	</div>

</div>
</body>
</html>
