<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
	<title>Node Authentication</title>
<!--
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
-->

	<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<style>
		body {
			padding-top: 80px;
			word-wrap: break-word;
		}
	</style>

</head>

<body>
	<div class="container">

		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span> Profile Page</h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
			<a href="/" class="btn btn-default btn-sm">Go home</a>
		</div>

		<div class="row">

			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>:
						<%=user.id %>
							<br>
							<strong>login</strong>:
							<%=user.login %>
								<br>
								<strong>Name</strong>:
								<%=user.first_name %>
									<br>
									<strong>Middle name</strong>:
									<%=user.middle_name %>
										<br>
										<strong>Last name</strong>:
										<%=user.last_name %>
											<br>
											<strong>Role</strong>:
											<%=user.role %>
												<br>
					</p>

				</div>
			</div>
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span> Add new account</h3>
					<p>Choose new account currency:</p>
					<div class="form-group">
						<form action="/profile" method="post">
						<select name="curr" required>
							<option value="rub">Ruble</option>
							<option value="eu">Euro</option>
							<option value="usd">USD</option>
						</select>
							<button type="submit" class="btn btn-warning btn-lg">Submit</button>
							</form>
					</div>
					<% if (accountMessage.length>0) {%>
					<div class="alert alert-danger"><strong><%= accountMessage %></strong></div>
					<%}%>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
			<h2 align="center"><span class="fa fa-anchor"></span>Operations:           </h2>
				<div class="well">
				<% if (messages.length == 0) {%>
				<p>No recent operations.</p>
				<%} else {%>
				<% for(var k=0, l=messages.length; k<l; k++)
				{%>
				<%= messages[k]%>
				<br>
				<%}%>
				<%}%>
					</div>
 </div>
		</div>
		<% for(var i=0, len=user.accounts.length; i<len; i++)
		{%>
			<!-- account i INFORMATION -->


			<div class="col-sm-6">
				<div class="well">
				<% if (user.accounts[i]["status"] === "active") { %>
					<p>
						<strong>Account <%= i+1%> info:</strong>
					<p>
						<strong>id</strong>:
						<%=user.accounts[i].account_ID %>
						<br>
						<strong>Currency</strong>:
						<%=user.accounts[i].money_type %>
						<br>
						<strong>Status</strong>:
						<%=user.accounts[i].status %>
						<br>
						<strong>Balance</strong>:
						<%=user.accounts[i].balance %>
						<br>
					</p>
						<br>
						<a  href='/account/<%= user.accounts[i].account_ID %>' class="btn btn-default btn-sm">Account Management</a>
					</p>
				</div>
			</div>
		<%} else
		{%>
			<div class="alert alert-danger"><strong>Account ID: <%= user.accounts[i]["account_ID"] %></strong> is blocked!</div>
		<%}%>
		<%}%>
	</div>
</body>

</html>
