<!doctype html>
<html>

<head>
	<title>Node Authentication</title>
<!--
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
-->

	<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<style>
		body {
			padding-top: 80px;
		}
	</style>
</head>

<body>
	<div class="container">

		<div class="col-sm-6 col-sm-offset-3">

			<h1><span class="fa fa-sign-in"></span> Signup</h1>

			<!-- show any messages that come back with authentication -->
			<% if (message.length>0) { %>
				<div class="alert alert-danger">
					<%=message %>
				</div>
				<% } %>

					<!-- LOGIN FORM -->
					<form action="/signup" method="post">
						<div class="form-group" >
							<label>Login</label>
							<input type="text" class="form-control" name="login" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" name="email" required>
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control" name="password" required>
						</div>
						<div class="form-group">
							<label>First Name</label>
							<input type="text" class="form-control" name="firstName" required>
						</div>
						<div class="form-group">
							<label>Middle Name</label>
							<input type="text" class="form-control" name="middleName" required>
						</div>
						<div class="form-group">
							<label>Last Name</label>
							<input type="text" class="form-control" name="lastName" required>
						</div>
						<div class="form-group">
							<label>Account currency</label>
							<select name="curr" required>
								<option value="rub">Ruble</option>
								<option value="eu">Euro</option>
								<option value="usd">USD</option>
							</select>
						</div>
						<button type="submit" class="btn btn-warning btn-lg">Signup</button>
					</form>

					<hr>

					<p>Already have an account? <a href="/login">Login</a>
					</p>
					<p>Or go <a href="/">home</a>.</p>

		</div>

	</div>
</body>

</html>
