$main_color: #687C8C;
//$accend_color: #E8566D;
$accend_color: #019571;
$stuff_color: #ECECEC;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);

html {
	position: relative;
	min-height: 100%;
}

body {
	color: $main_color;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
//	overflow: hidden;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	&:hover {
		text-decoration: underline;
	}
}

p {
	margin: 1rem;
}

h1 {
	padding-right: 2rem;
	text-transform: uppercase;
	margin: 0;
	font-size: 2rem;
	font-weight: 700;
	a {
		text-decoration: none;
		color: $main_color;
		&:visited {
			color: $main_color;
		}
		&:hover {
		text-decoration: none;
		}
	}
}

input {
	border-radius: 4px;
	border-color: $stuff_color;
	border-width: 0.1rem;
	border-style: solid;
}

.accend {
	color: $accend_color;
}

.btn {
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
	color: #FFF;
	background-color: $main_color;
	font-size: 1rem;
	margin: auto 0.5rem;
	padding: 0.5rem  1rem;
	max-height: 2rem;
	border-width: 0;
}

.btn-accend {
	background-color: $accend_color;
}
//==================================>
/* Parallax base styles
	--------------------------------------------- */

.parallax {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 300px;
	background-color: white;
}

.parallax__group {
	position: relative;
	transform-style: preserve-3d;
}

.parallax__layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.parallax__layer--base {
	transform: translateZ(0);
	z-index: 4;
}

.parallax__layer--back {
	transform: translateZ(-300px) scale(2);
	width: 100vw;
	z-index: 3;
}

/* style the groups
--------------------------------------------- */

#group1 {
	z-index: 5; /* slide over group 2 */
	height: 10vh;
}
#group1 .parallax__layer--base {
	background: white;
}

#group2 {
	z-index: 3; /* slide under groups 1 and 3 */
	height: 90vh;
}
#group2 .parallax__layer--base {
	background-image: url("/img/pattern.png");
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h1 {
		color: #FFF;
	}
	.heart {
		font-size: 1.28571rem;
		font-weight: 700;
		background-color: $accend_color;
	}
}
#group2 .parallax__layer--back {
	height: 100vh;
	background-image: url("/img/promo.jpg");
	background-size: cover;
	background-position: center;
}

#group3 {
	z-index: 6; /* slide over group 2 and 4 */
	height: 30vh;
}
#group3 .parallax__layer--base {
	background: white;
}

#group4 {
	z-index: 4; /* slide under group 3 and 5 */
	height: 35vh;
}
#group4 .parallax__layer--base {
//	background-image: url("/img/pattern.png");
//	background-repeat: repeat;
	background-color: $accend_color;
}
/* #group4 .parallax__layer--back {
//	background-image: url("/img/promo.jpg");
	background-size: cover;
	background-position: top;
} */

#group5 {
	z-index: 3; /* slide over group 4 and 6 */
	height: 25vh;
}

#group5 .parallax__layer--base {
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h1 {
		color: #FFF;
	}
	.heart {
		font-size: 1.28571rem;
		font-weight: 700;
		background-color: $accend_color;
	}
}

#group6 {
	z-index: 3; /* slide over group 7 */
	height: 10vh;
}
#group6 .parallax__layer--base {
	background: $stuff_color;
//	border-top-color: $stuff_color;
//	border-bottom-style: dotted;
//	border-width: 0.1rem;
}
//==================================>

.contentPara {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-align-content: stretch;
	align-content: stretch;
}

.contentPara2 {
	color: white;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-align-content: stretch;
	align-content: stretch;
}
