@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);
/* line 8, style.scss */
html {
  position: relative;
  min-height: 100%; }

/* line 13, style.scss */
body {
  color: #687c8c;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }

/* line 20, style.scss */
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

/* line 27, style.scss */
a:hover {
  text-decoration: underline; }

/* line 32, style.scss */
p {
  margin: 1rem; }

/* line 36, style.scss */
h1 {
  padding-right: 2rem;
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
  font-weight: 700; }
  /* line 42, style.scss */
  h1 a {
    text-decoration: none;
    color: #687c8c; }
    /* line 45, style.scss */
    h1 a:visited {
      color: #687c8c; }
    /* line 48, style.scss */
    h1 a:hover {
      text-decoration: none; }

/* line 54, style.scss */
input {
  border-radius: 4px;
  border-color: #ececec;
  border-width: 0.1rem;
  border-style: solid; }

/* line 61, style.scss */
.accend {
  color: #019571; }

/* line 65, style.scss */
.btn {
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  color: #FFF;
  background-color: #687c8c;
  font-size: 1rem;
  margin: auto 0.5rem;
  padding: 0.5rem  1rem;
  max-height: 2rem;
  border-width: 0; }

/* line 78, style.scss */
.btn-accend {
  background-color: #019571; }

/* Parallax base styles
	--------------------------------------------- */
/* line 85, style.scss */
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  background-color: white; }

/* line 93, style.scss */
.parallax__group {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/* line 98, style.scss */
.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/* line 106, style.scss */
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4; }

/* line 111, style.scss */
.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  width: 100vw;
  z-index: 3; }

/* style the groups
--------------------------------------------- */
/* line 120, style.scss */
#group1 {
  z-index: 5;
  /* slide over group 2 */
  height: 10vh; }

/* line 124, style.scss */
#group1 .parallax__layer--base {
  background: white; }

/* line 128, style.scss */
#group2 {
  z-index: 3;
  /* slide under groups 1 and 3 */
  height: 90vh; }

/* line 132, style.scss */
#group2 .parallax__layer--base {
  background-image: url("/img/pattern.png");
  background-repeat: repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  /* line 139, style.scss */
  #group2 .parallax__layer--base h1 {
    color: #FFF; }
  /* line 142, style.scss */
  #group2 .parallax__layer--base .heart {
    font-size: 1.28571rem;
    font-weight: 700;
    background-color: #019571; }

/* line 148, style.scss */
#group2 .parallax__layer--back {
  height: 100vh;
  background-image: url("/img/promo.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center; }

/* line 155, style.scss */
#group3 {
  z-index: 6;
  /* slide over group 2 and 4 */
  height: 30vh; }

/* line 159, style.scss */
#group3 .parallax__layer--base {
  background: white; }

/* line 163, style.scss */
#group4 {
  z-index: 4;
  /* slide under group 3 and 5 */
  height: 35vh; }

/* line 167, style.scss */
#group4 .parallax__layer--base {
  background-color: #019571; }

/* #group4 .parallax__layer--back {
//	background-image: url("/img/promo.jpg");
	background-size: cover;
	background-position: top;
} */
/* line 178, style.scss */
#group5 {
  z-index: 3;
  /* slide over group 4 and 6 */
  height: 25vh; }

/* line 183, style.scss */
#group5 .parallax__layer--base {
  background: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  /* line 189, style.scss */
  #group5 .parallax__layer--base h1 {
    color: #FFF; }
  /* line 192, style.scss */
  #group5 .parallax__layer--base .heart {
    font-size: 1.28571rem;
    font-weight: 700;
    background-color: #019571; }

/* line 199, style.scss */
#group6 {
  z-index: 3;
  /* slide over group 7 */
  height: 10vh; }

/* line 203, style.scss */
#group6 .parallax__layer--base {
  background: #ececec; }

/* line 211, style.scss */
.contentPara {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

/* line 224, style.scss */
.contentPara2 {
  color: white;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

/*# sourceMappingURL=style.css.map */